body {
    width: 1080px;
    padding: 10px;
}
td {
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    font-size: 16px;
}
/* #basicInfo {

} */

#titleContainer {
    display: flex;
}

#titleContainer img {
    width: 200px;
    padding: 10px;
}

.title {
    display: flex;
}

.title h1 {
    font-size: 28px;
    font-weight: bold;
}

.title p {
    margin-top: auto;
    margin-left: auto;
}

#titleContainer table {
    margin-top: 20px;
    border-top: solid black 1px;
    border-left: solid black 1px;
}

.desc {
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.furigana {
    padding: 5px;
}

#name {
    font-size: 32px;
    padding: 20px;
    width: 500px;
    height: 116px;
}

#secondContainer {
    display: flex;

}
#smallAddress {
    font-size: 10px;
}

#country {
    width: 575px;
    border-left: solid black 1px;
}
#country td {
    padding: 5px;
}

#address {
    width: 575px;
    border-left: solid black 1px;
}

#address td {
    padding: 5px;
}

#addressKanji {
    padding-bottom: 22px;
}

#contact {
    width: 200px;
}

#contact td{
    padding: 5px;
    text-align: center;
}

#sex {
    width: 195px;
    border-top: solid black 1px;
}
#sex td {
    flex: 1;
}

#historyTableLeft {
    width: 782px;
    margin-top: 30px;
    border-top: solid black 1px;
    border-left: solid black 1px;
}

#historyTableLeft td {
    padding: 10px;
}

.center {
    text-align: center;
}

.thin {
    width: 75px;
    text-align: center;
}

#pr {
    margin-top: 30px;
    width: 782px;
    border-top: solid black 1px;
    border-left: solid black 1px;
}

#pr td {
    padding: 5px;
}

#seisaku {
    border: solid black 1px;
    width: 782px;
    text-align: center;
}

#seisaku a {
    color: white;
    font-size: 16px;
    background-color: skyblue;
    padding: 60px 10px;
}

#seisaku a:hover {
    background-color: rgb(92, 178, 225);
}