header {
    border: 1px solid black;
}

header h1 {
    color: black;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 32px;
}
.welcome {
    text-align: center;
    font-size: 42px;
    margin-top: 20px;
}
#loginContainer {
    display: block;
    text-align: left;
    font-size: 36px;
    background-color: ghostwhite;
    border: solid black 1px;
    border-radius: 3px;
    padding: 30px;
    width: max-content;
    margin: 0 auto;
    margin-top: 100px;
}

#loginContainer input{
    background-color: white;
}

#loginBtn {
    margin: 0 auto;
    margin-top: 20px;
}

#dbManager {
    display: none;
}

.btn {
    display: block;
    color: black;
    width: max-content;
    border: solid black 1px;
    background-color: gainsboro;
    border-radius: 2px;
    padding: 5px;
}

.btn:hover {
    background-color: grey;
    color: white;
}

.textInput {
    border: solid black 1px;
}

main table {
    background-color: white;
    width: fit-content;
    margin: 10px;
}

main thead {
    border-right: solid black 1px;
    border-top: solid black 1px;
}

main td {
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    padding: 5px;
}

main tr {
    border-left: solid black 1px;
}

#burgerContainer {
    border: 1px solid black;
}

#burger {
    width: 150px;
}

#burgerBtn {
    font-size: 42px;
}

#burger li {
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}

#burger li:hover {
    font-weight: bold;
    font-size: 18px;
}

main {
    flex: 4;
    background-color: lightgrey;
    height: 700px;
    padding: 10px;
}

#dashBoard {
    display: block;
    border-top: solid black 1px;
}

#editContainer {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    width: fit-content;
}

#editContainer input {
    border: 1px solid black;
}

#columnContainer {
    border-top: 1px solid black;
}

#upload-container {
    background-color: white;
    width: fit-content;
    padding: 10px;
    border: solid black 1px;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

footer {
    border: 1px solid black;
}

footer p {
    color: black;
    font-size: 14px;
    text-align: center;
    padding: 20px;
}