body {
    text-align: center;
    font-size: 32px;
    border: solid red 1px;
}

#loginContainer {
    display: block;
}

#dbManager {
    display: none;
}

.btn {
    border: solid black 1px;
    background-color: gainsboro;
}

.btn:hover {
    background-color: grey;
}

.textInput {
    border: solid black 1px;
}

#container thead {
    border-right: solid black 1px;
    border-top: solid black 1px;
}

#container td {
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    padding: 5px;
}

#container table {
    border-left: solid black 1px;
    margin: 0 auto;
}