body {
    text-align: center;
    font-size: 32px;
    border: solid red 1px;
}

#loginContainer {
    display: block;
}

#dbManager {
    display: none;
}

.btn {
    border: solid black 1px;
    background-color: gainsboro;
}

.btn:hover {
    background-color: grey;
}

.textInput {
    border: solid black 1px;
}